/* colors */
.header {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.header__nav-links {
  color: inherit;
  text-decoration: none;
}
/* typography */
.header__logo {
  font-size: 2rem;
  font-weight: bold;
}
/* layout */
.header {
  --mh: 5rem;
  min-height: var(--mh);
  width: 100vw;
}
.header__container {
  max-width: 1300px;
  min-height: var(--mh);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-items {
  margin-left: 2rem;
}
